@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Unip - Flamboyant<br />
    Fazenda Botafogo<br />
    <abbr title="Phone">Cel:</abbr>
    6299979-1312
</address>

<address>
    <strong>Detalhes:</strong> <a href="https://github.com/JeanGyn/PimVIII">PimVIII GitHub</a><br />    
</address>
